<div class="m-4">
  <div class="row">
    {{#each courses}}
      <div class="col-lg-3 col-lg-4 my-2">
        <div class="card">
          <a href="/courses/{{this.slug}}">
          <div class="img">
            <img class="card-img-top h-5" src={{this.image}} alt="Card image cap"/>
          </a>
          </div>
          <div class="card-body">
             <a href="/courses/{{this.slug}}">
                <h5 class="card-title">{{this.name}}</h5>
             </a>
            <p class="card-text">{{this.description}}</p>
            <a href="#" class="btn btn-primary">Let's Go</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>